.p-imgs {
  height: auto;
}
@media (min-width: 751px) and (max-width: 1200px) {
  .p-imgs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (min-width: 1201px) {
  .p-imgs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.each-img-left {
  background: url("../image/three-burgers.png") no-repeat center center;
  background-size: cover;
  position: relative;
  margin: 20px auto;
  height: 650px;
  width: 335px;
}
@media (min-width: 751px) and (max-width: 1200px) {
  .each-img-left {
    width: 357px;
    height: 680px;
    margin: 40px 40px 40px 40px;
    background-size: cover;
  }
}
@media (min-width: 1201px) {
  .each-img-left {
    width: 625px;
    height: 1190px;
    margin: 120px 80px 120px 110px;
    background-size: cover;
    overflow: hidden;
  }
}

.each-img-right {
  background: url("../image/473d814b175bd517b56eb309f2958725@2x.png") no-repeat center center;
  background-size: cover;
  position: relative;
  margin: 20px auto;
  height: 650px;
  width: 335px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
}
.each-img-right:hover {
  opacity: 0.4;
}
.each-img-right a {
  text-decoration: none;
  color: #333;
  display: inline-block;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
@media (min-width: 751px) and (max-width: 1200px) {
  .each-img-right {
    width: 357px;
    height: 680px;
    background-size: cover;
    margin: 40px 40px 40px 0;
  }
}
@media (min-width: 1201px) {
  .each-img-right {
    background-size: cover;
    width: 625px;
    height: 1190px;
    margin: 120px 110px 120px 0;
    overflow: hidden;
  }
}

.each-img-left h2,
.each-img-right h2 {
  color: #fff;
  font-size: 44px;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 10px;
}
@media (min-width: 1201px) {
  .each-img-left h2,
.each-img-right h2 {
    margin-bottom: 0;
  }
}
.each-img-left h2:after,
.each-img-right h2:after {
  position: absolute;
  display: inline-block;
  top: 75px;
  left: 15px;
  content: "";
  width: 50px;
  height: 3px;
  background-color: #fff;
  border-radius: 2px;
}
@media (min-width: 751px) and (max-width: 1200px) {
  .each-img-left h2:after,
.each-img-right h2:after {
    top: 90px;
  }
}
@media (min-width: 1201px) {
  .each-img-left h2:after,
.each-img-right h2:after {
    top: 100px;
  }
}

.container {
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
}
.container .item-1,
.container .item-2 {
  height: 175px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px 10px;
  margin-bottom: 10px;
}
.container .item-1 h3,
.container .item-2 h3 {
  padding-bottom: 20px;
}
@media (min-width: 1201px) {
  .container .item-1 h3,
.container .item-2 h3 {
    padding-bottom: 26px;
  }
}

.container .item-1 {
  margin-top: 210px;
}
@media (min-width: 751px) and (max-width: 1200px) {
  .container .item-1 {
    margin-top: 230px;
  }
}
@media (min-width: 1201px) {
  .container .item-1 {
    margin-top: 0;
    position: absolute;
    top: 800px;
    left: 20px;
    right: 20px;
  }
}

@media (min-width: 1201px) {
  .container .item-2 {
    margin-top: 0;
    position: absolute;
    top: 1000px;
    left: 20px;
    right: 20px;
  }
}

.archive-section-text {
  width: 100%;
  margin-bottom: 20px;
}
@media (min-width: 751px) and (max-width: 1200px) {
  .archive-section-text {
    width: 750px;
    margin-bottom: 37px;
  }
}
@media (min-width: 1201px) {
  .archive-section-text {
    width: 750px;
    margin-bottom: 70px;
  }
}

@media (min-width: 1201px) {
  .archive-nokeyword h2 {
    text-align: center;
    margin-top: 200px;
    margin-bottom: 500px;
  }
}

.p-archive-item-1,
.p-archive-item-2,
.p-archive-item-3,
.p-archive-item-4,
.p-archive-item-5 {
  height: 585px;
  width: 100%;
}
@media (min-width: 751px) and (max-width: 1200px) {
  .p-archive-item-1,
.p-archive-item-2,
.p-archive-item-3,
.p-archive-item-4,
.p-archive-item-5 {
    height: 350px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (min-width: 1201px) {
  .p-archive-item-1,
.p-archive-item-2,
.p-archive-item-3,
.p-archive-item-4,
.p-archive-item-5 {
    height: 470px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.img-item-1,
.img-item-2,
.img-item-3,
.img-item-4,
.img-item-5 {
  vertical-align: bottom;
  width: 100%;
  height: 40%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
}
@media (min-width: 751px) and (max-width: 1200px) {
  .img-item-1,
.img-item-2,
.img-item-3,
.img-item-4,
.img-item-5 {
    height: 100%;
    width: 50%;
  }
}
@media (min-width: 1201px) {
  .img-item-1,
.img-item-2,
.img-item-3,
.img-item-4,
.img-item-5 {
    height: 100%;
    width: 50%;
  }
}

.p-map {
  position: relative;
}
.p-map .map {
  background: url("../image/map.png") no-repeat center center;
  background-size: cover;
  height: 700px;
  width: 100%;
}
@media (min-width: 751px) and (max-width: 1200px) {
  .p-map .map {
    height: 415px;
  }
}
@media (min-width: 1201px) {
  .p-map .map {
    height: 650px;
  }
}

.full-mask {
  height: 100%;
  width: 100%;
  background-color: #707070;
  opacity: 0.7;
  position: absolute;
  z-index: 100;
}
@media (min-width: 1201px) {
  .full-mask {
    width: 63%;
  }
}

.half-mask {
  height: 350px;
  width: 100%;
  background-color: #707070;
  opacity: 0.7;
  position: absolute;
  z-index: 100;
}
@media (min-width: 751px) and (max-width: 1200px) {
  .half-mask {
    height: 100%;
  }
}
@media (min-width: 1201px) {
  .half-mask {
    height: 100%;
  }
}

.p-modal {
  top: 40px;
  left: 42px;
  right: 40px;
  color: #fff;
  position: absolute;
  z-index: 101;
}
@media (min-width: 1201px) {
  .p-modal {
    top: 80px;
    left: 119px;
    right: 500px;
    height: 570px;
  }
}
.p-modal h2 {
  font-size: 28px;
  color: #fff;
  padding-bottom: 40px;
}
@media (min-width: 1201px) {
  .p-modal h2 {
    padding-bottom: 120px;
    font-size: 36px;
  }
}
.p-modal h2:after {
  position: absolute;
  display: inline-block;
  top: 60px;
  left: 0;
  content: "";
  width: 70px;
  height: 3px;
  background-color: #fff;
  border-radius: 2px;
}
@media (min-width: 1201px) {
  .p-modal h2:after {
    top: 110px;
  }
}
@media (min-width: 1201px) {
  .p-modal .text-container {
    overflow: hidden;
    width: 697px;
  }
}
.p-modal .text-container p {
  font-size: 14px;
  line-height: 30px;
  color: #fff;
  text-align: justify;
}
@media (min-width: 1201px) {
  .p-modal .text-container p {
    font-size: 16px;
  }
}

.archive-container {
  background-color: #3C2B1C;
  color: #fff;
  height: 60%;
  width: 100%;
  padding-bottom: 43.7px;
  position: relative;
  padding-top: 31.5px;
}
@media (min-width: 751px) and (max-width: 1200px) {
  .archive-container {
    height: 100%;
    width: 50%;
    padding-bottom: 40px;
    padding-top: 30px;
  }
}
@media (min-width: 1201px) {
  .archive-container {
    padding-top: 53px;
    height: 100%;
    width: 50%;
  }
}
.archive-container .excerpt {
  margin-top: 24px;
}
@media (min-width: 1201px) {
  .archive-container .excerpt {
    margin-top: 47px;
  }
}
.archive-container h3 {
  color: #fff;
  font-size: 20px;
  line-height: 20px;
}
@media (min-width: 1201px) {
  .archive-container h3 {
    font-size: 36px;
    line-height: 36px;
  }
}
.archive-container p {
  color: #fff;
}
.archive-container a {
  display: inline-block;
  background-color: #fff;
  color: #707070;
  border-radius: 50px;
  position: absolute;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
  bottom: 43px;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
}
@media (min-width: 751px) and (max-width: 1200px) {
  .archive-container a {
    bottom: 40px;
  }
}
@media (min-width: 1201px) {
  .archive-container a {
    bottom: 60px;
    white-space: nowrap;
  }
}

.p-singlemaincover {
  height: 250px;
  width: 100%;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left;
     object-position: left;
  margin-bottom: 20px;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.p-singlemaincover:hover {
  opacity: 0.5;
}
.p-singlemaincover a {
  display: block;
  height: 100%;
}
.p-singlemaincover .wp-post-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left;
     object-position: left;
}

@media (min-width: 751px) and (max-width: 1200px) {
  .cover-imgs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
  }
  .cover-imgs .p-singlemaincover {
    width: calc((100% - 32px) / 2);
    height: 205px;
  }
  .cover-imgs .p-singlemaincover:nth-child(odd) {
    margin-right: 16px;
  }
}
@media (min-width: 1201px) {
  .cover-imgs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
  }
  .cover-imgs .p-singlemaincover {
    width: calc((100% - 60px) / 3);
    height: 200px;
    margin-right: 20px;
  }
}
blockquote {
  background-color: #F5F5F5;
  height: 600px;
  position: relative;
}
blockquote p:nth-of-type(2) {
  position: absolute;
  bottom: 20px;
  left: 20px;
}
blockquote p:nth-of-type(2) a {
  margin-left: 10px;
  border-bottom: solid 0.1px;
  letter-spacing: 0.2em;
}

.single-container-box .single-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.single-container-box .single-container:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.single-container-box p {
  width: 100%;
}

pre {
  background-color: #f5f5f5;
}

table {
  border-collapse: collapse;
  width: 100%;
}
table .width40 {
  width: 45%;
}
table .width60 {
  width: 55%;
}
table td {
  border: #333 1px solid;
  text-align: center;
}

b {
  display: block;
  padding-top: 60px;
  padding-bottom: 184px;
}
@media (min-width: 751px) and (max-width: 1200px) {
  b {
    padding-top: 30px;
    padding-bottom: 228px;
  }
}
@media (min-width: 1201px) {
  b {
    padding-top: 60px;
    padding-bottom: 352px;
  }
}

.p-single-content ul {
  list-style: none;
}
.p-single-content ul li {
  font-size: 20px;
}
.p-single-content ul li a {
  text-decoration: none;
  background-color: #333;
  color: #fff;
  padding: 20px;
  display: inline-block;
  margin: 30px 0;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.p-single-content ul li a:hover {
  opacity: 0.8;
}

.single-container-box .single-container-eat-in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.single-container-box .single-container-eat-in .wp-post-image {
  height: 150px;
  width: 100%;
  background-size: cover;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: bottom;
     object-position: bottom;
}
@media (min-width: 751px) and (max-width: 1200px) {
  .single-container-box .single-container-eat-in .wp-post-image {
    height: 190px;
  }
}
@media (min-width: 1201px) {
  .single-container-box .single-container-eat-in .wp-post-image {
    height: 300px;
  }
}
.single-container-box .single-container-eat-in p {
  text-align: center;
  line-height: 170px;
}
.single-container-box .single-container-eat-in:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin-top: 30px;
  margin-bottom: 30px;
}
@media (min-width: 751px) and (max-width: 1200px) {
  .single-container-box .single-container-eat-in:last-child {
    margin-bottom: 60px;
  }
}
@media (min-width: 1201px) {
  .single-container-box .single-container-eat-in:last-child {
    margin-bottom: 60px;
  }
}

.p-archive-section ul {
  list-style: none;
}
.p-archive-section ul li {
  font-size: 20px;
}
.p-archive-section ul li:last-child {
  margin-bottom: 20px;
}
.p-archive-section ul li a {
  text-decoration: none;
  width: 15%;
  background-color: #333;
  color: #fff;
  padding: 20px;
  display: inline-block;
  margin-top: 30px;
  cursor: pointer;
  text-align: center;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.p-archive-section ul li a:hover {
  opacity: 0.8;
}
/*# sourceMappingURL=articles.css.map */