.p-top-img {
  background: url("../image/mainvisual-sp@2x.jpg") no-repeat center center;
  background-size: cover;
  height: 375px;
  width: 100%;
}
@media (min-width: 1201px) {
  .p-top-img {
    background: url("../image/mainvisual-pc@2x.jpg") no-repeat center center;
    background-size: cover;
    width: auto;
    overflow: hidden;
  }
}
.p-top-img h1 {
  color: white;
  padding-top: 170px;
  margin-left: 85px;
  font-size: 36px;
}
@media (max-width: 750px) {
  .p-top-img h1 {
    margin-left: 35px;
  }
}

.archive-main {
  position: relative;
}
@media (min-width: 751px) and (max-width: 1200px) {
  .archive-main {
    width: 100%;
  }
}
@media (min-width: 1201px) {
  .archive-main {
    width: 100%;
  }
}

.p-archive-img {
  height: 280px;
  width: auto;
  background: url("../image/p-archive-img@2x.jpg") no-repeat left center;
  position: relative;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0 50%;
     object-position: 0 50%;
}
.p-archive-img .archive-img-mask {
  content: "";
  height: 280px;
  width: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
.p-archive-img .p-archive-img-text {
  position: absolute;
  z-index: 1;
  color: #ccc;
}
.p-archive-img .p-archive-img-text h1 {
  line-height: 1.2;
  font-size: 36px;
}
.p-archive-img .p-archive-img-text h1 span {
  font-size: 16px;
}

.p-single-img {
  height: 250px;
  width: auto;
  background: url("../image/cheeseburger3@2x.png") no-repeat center center;
  position: relative;
  background-size: cover;
}
.p-single-img h1 {
  position: absolute;
  top: 45%;
  left: 0;
  padding-left: 20px;
}
@media (min-width: 751px) and (max-width: 1200px) {
  .p-single-img {
    height: 500px;
  }
  .p-single-img h1 {
    padding-left: 50px;
  }
}
@media (min-width: 1201px) {
  .p-single-img {
    height: 500px;
  }
  .p-single-img h1 {
    padding-left: 100px;
  }
}

.p-page-img {
  height: 250px;
  width: auto;
  background: url("../image/page-title_shop@2x.jpg") no-repeat center center;
  position: relative;
  background-size: cover;
}
.p-page-img h1 {
  position: absolute;
  top: 45%;
  left: 0px;
  padding-left: 20px;
}
@media (min-width: 751px) and (max-width: 1200px) {
  .p-page-img {
    height: 500px;
  }
  .p-page-img h1 {
    padding-left: 50px;
  }
}
@media (min-width: 1201px) {
  .p-page-img {
    height: 500px;
  }
  .p-page-img h1 {
    padding-left: 100px;
  }
}

.error-page-h1 {
  padding: 400px 0;
}

.error-page-p {
  padding: 400px 0;
}

.split-burger {
  background: url("../image/404page.jpg") center center;
  height: 100%;
  width: 100%;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 1201px) {
  .split-burger {
    background: url("../image/404page-pc.jpg") center center;
    background-size: cover;
  }
}
.split-burger h1 {
  color: #ccc;
  text-align: center;
  padding-top: 50px;
  padding-left: 50px;
}
.split-burger p {
  color: #ccc;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 1400px;
}
/*# sourceMappingURL=main.css.map */