.archive-pagination-pc {
  width: 335px;
}
.archive-pagination-pc ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.archive-pagination-pc li {
  list-style: none;
}

.archive-pagination {
  display: none;
}

@media (min-width: 751px) and (max-width: 1200px) {
  .archive-pagination {
    width: 700px;
    height: 200px;
    margin: 0 auto;
    display: block;
    padding-top: 120px;
  }
  .archive-pagination ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .archive-pagination li {
    list-style: none;
    padding: 6px 12px;
  }
  .archive-pagination li:nth-child(3) {
    background-color: #333;
    color: #fff;
  }
  .archive-pagination li:nth-child(n+3):nth-child(-n+11) {
    border: 1px solid #333;
    margin-left: 8px;
  }

  .archive-pagination-pc {
    display: none;
  }
}
@media (min-width: 1201px) {
  .archive-pagination {
    width: 700px;
    height: 200px;
    margin: 0 auto;
    display: block;
    padding-top: 120px;
  }
  .archive-pagination ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .archive-pagination li {
    list-style: none;
    padding: 6px 12px;
  }
  .archive-pagination li:nth-child(3) {
    background-color: #333;
    color: #fff;
  }
  .archive-pagination li:nth-child(n+3):nth-child(-n+11) {
    border: 1px solid #333;
    margin-left: 8px;
  }

  .archive-pagination-pc {
    display: none;
  }
}
.p-singlemain1-img {
  height: 150px;
  width: 100%;
  background: url("../image/single-main.png") no-repeat bottom center;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
@media (min-width: 751px) and (max-width: 1200px) {
  .p-singlemain1-img {
    height: 265px;
  }
}
@media (min-width: 1201px) {
  .p-singlemain1-img {
    height: 500px;
  }
}

.p-singlemain3-img {
  height: 165px;
  width: 265px;
  background: url("../image/single-middle@2x.png") no-repeat bottom center;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 auto 30px;
}
@media (min-width: 751px) and (max-width: 1200px) {
  .p-singlemain3-img {
    width: 580px;
    height: 360px;
  }
}
@media (min-width: 1201px) {
  .p-singlemain3-img {
    width: 580px;
    height: 360px;
  }
}

.p-singlemaincover-img {
  height: 250px;
  width: 100%;
  background: url("../image/single-large@2x.png") no-repeat bottom center;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left;
     object-position: left;
  margin-bottom: 20px;
}

@media (min-width: 751px) and (max-width: 1200px) {
  .cover-imgs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
  }
  .cover-imgs .p-singlemaincover-img {
    width: calc((100% - 32px) / 2);
    height: 205px;
  }
  .cover-imgs .p-singlemaincover-img:nth-child(odd) {
    margin-right: 16px;
  }
}
@media (min-width: 1201px) {
  .cover-imgs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
  }
  .cover-imgs .p-singlemaincover-img {
    width: calc((100% - 60px) / 3);
    height: 200px;
    margin-right: 20px;
  }
}
.p-page-img {
  height: 250px;
  width: auto;
  background: url("../image/page-title_shop@2x.jpg") no-repeat center center;
  position: relative;
  background-size: cover;
}
.p-page-img h1 {
  position: absolute;
  top: 45%;
  left: 0px;
  padding-left: 20px;
}
@media (min-width: 751px) and (max-width: 1200px) {
  .p-page-img {
    height: 500px;
  }
  .p-page-img h1 {
    padding-left: 50px;
  }
}
@media (min-width: 1201px) {
  .p-page-img {
    height: 500px;
  }
  .p-page-img h1 {
    padding-left: 100px;
  }
}
/*# sourceMappingURL=pagination.css.map */