.each-img-left {
  background: url("../image/three-burgers-on-brown-wooden-tray-between-white-ceramic-1841108@2x.png") no-repeat center center;
}

.each-img-right {
  background: url("../image/473d814b175bd517b56eb309f2958725@2x.png") no-repeat center center;
}

.archive-main {
  position: relative;
}
@media (min-width: 751px) and (max-width: 1200px) {
  .archive-main {
    width: 100%;
  }
}

.p-archive-img {
  height: 280px;
  width: auto;
  background: url("../image/p-archive-img@2x.jpg") no-repeat left center;
  position: relative;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0 50%;
     object-position: 0 50%;
}

.archive-img-mask {
  content: "";
  height: 280px;
  width: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.archive-section-text {
  width: 100%;
}
@media (min-width: 751px) and (max-width: 1200px) {
  .archive-section-text {
    width: 750px;
  }
}

.p-archive-item-1,
.p-archive-item-2,
.p-archive-item-3,
.p-archive-item-4,
.p-archive-item-5 {
  height: 585px;
  width: 100%;
}
@media (min-width: 751px) and (max-width: 1200px) {
  .p-archive-item-1,
.p-archive-item-2,
.p-archive-item-3,
.p-archive-item-4,
.p-archive-item-5 {
    height: 350px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.img-item-1,
.img-item-2,
.img-item-3,
.img-item-4,
.img-item-5 {
  vertical-align: bottom;
  width: 100%;
  height: 40%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 751px) and (max-width: 1200px) {
  .img-item-1,
.img-item-2,
.img-item-3,
.img-item-4,
.img-item-5 {
    -o-object-position: 0 50%;
       object-position: 0 50%;
    height: 100%;
    width: 50%;
  }
}

.archive-container {
  background-color: #3C2B1C;
  color: #fff;
  height: 60%;
  width: 100%;
  padding-bottom: 60px;
  position: relative;
}
@media (min-width: 751px) and (max-width: 1200px) {
  .archive-container {
    height: 100%;
    width: 50%;
  }
}
.archive-container h3 {
  color: #fff;
}
.archive-container p {
  color: #fff;
}
.archive-container button {
  display: inline-block;
  background-color: #fff;
  color: #707070;
  border-radius: 20px;
  position: absolute;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
  bottom: 30px;
}

.archive-pagination-pc {
  width: 335px;
}
.archive-pagination-pc ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.archive-pagination-pc li {
  list-style: none;
}

.archive-pagination {
  display: none;
}

@media (min-width: 751px) and (max-width: 1200px) {
  .archive-pagination {
    width: 700px;
    height: 200px;
    margin: 0 auto;
    display: block;
    padding-top: 120px;
  }
  .archive-pagination ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .archive-pagination li {
    list-style: none;
    padding: 6px 12px;
  }
  .archive-pagination li:nth-child(3) {
    background-color: #333;
    color: #fff;
  }
  .archive-pagination li:nth-child(n+3):nth-child(-n+11) {
    border: 1px solid #333;
    margin-left: 8px;
  }

  .archive-pagination-pc {
    display: none;
  }
}
.p-single-img {
  height: 250px;
  width: auto;
  background: url("../image/cheeseburger3@2x.png") no-repeat center center;
  position: relative;
  background-size: cover;
}
.p-single-img h1 {
  position: absolute;
  top: 45%;
  left: 0;
  padding-left: 20px;
}
@media (min-width: 751px) and (max-width: 1200px) {
  .p-single-img {
    height: 500px;
  }
  .p-single-img h1 {
    padding-left: 50px;
  }
}
@media (min-width: 1201px) {
  .p-single-img {
    height: 500px;
  }
  .p-single-img h1 {
    padding-left: 100px;
  }
}

blockquote {
  background-color: #F5F5F5;
  height: 600px;
  position: relative;
}
blockquote p:nth-of-type(2) {
  position: absolute;
  bottom: 20px;
  left: 20px;
}
blockquote p:nth-of-type(2) a {
  margin-left: 10px;
  border-bottom: solid 0.1px;
  letter-spacing: 0.2em;
}

.p-singlemain1-img {
  height: 150px;
  width: 100%;
  background: url("../image/single-main.png") no-repeat bottom center;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
@media (min-width: 751px) and (max-width: 1200px) {
  .p-singlemain1-img {
    height: 265px;
  }
}
@media (min-width: 1201px) {
  .p-singlemain1-img {
    height: 500px;
  }
}

.single-container-box .single-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.single-container-box .single-container:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.single-container-box .single-container .p-singlemain2-img {
  height: 150px;
  width: 100%;
  background: url("../image/single-flex@2x.png") no-repeat bottom center;
  background-size: cover;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: bottom;
     object-position: bottom;
}
@media (min-width: 751px) and (max-width: 1200px) {
  .single-container-box .single-container .p-singlemain2-img {
    height: 190px;
  }
}
@media (min-width: 1201px) {
  .single-container-box .single-container .p-singlemain2-img {
    height: 300px;
  }
}
.single-container-box .single-container:last-child .p-singlemain2-img {
  height: 150px;
  width: 100%;
  background: url("../image/single-flex@2x.png") no-repeat bottom center;
  background-size: cover;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: bottom;
     object-position: bottom;
}
@media (min-width: 751px) and (max-width: 1200px) {
  .single-container-box .single-container:last-child .p-singlemain2-img {
    height: 190px;
  }
}
@media (min-width: 1201px) {
  .single-container-box .single-container:last-child .p-singlemain2-img {
    height: 300px;
  }
}
.single-container-box p {
  width: 100%;
}

.p-singlemain3-img {
  height: 165px;
  width: 265px;
  background: url("../image/single-middle@2x.png") no-repeat bottom center;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 auto 30px;
}
@media (min-width: 751px) and (max-width: 1200px) {
  .p-singlemain3-img {
    width: 580px;
    height: 360px;
  }
}
@media (min-width: 1201px) {
  .p-singlemain3-img {
    width: 580px;
    height: 360px;
  }
}

.p-singlemaincover-img {
  height: 250px;
  width: 100%;
  background: url("../image/single-large@2x.png") no-repeat bottom center;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left;
     object-position: left;
  margin-bottom: 20px;
}

@media (min-width: 751px) and (max-width: 1200px) {
  .cover-imgs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
  }
  .cover-imgs .p-singlemaincover-img {
    width: calc((100% - 32px) / 2);
    height: 205px;
  }
  .cover-imgs .p-singlemaincover-img:nth-child(odd) {
    margin-right: 16px;
  }
}
@media (min-width: 1201px) {
  .cover-imgs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
  }
  .cover-imgs .p-singlemaincover-img {
    width: calc((100% - 60px) / 3);
    height: 200px;
    margin-right: 20px;
  }
}
pre {
  background-color: #f5f5f5;
}

table {
  border-collapse: collapse;
  width: 100%;
}
table .width40 {
  width: 45%;
}
table .width60 {
  width: 55%;
}
table td {
  border: #333 1px solid;
  text-align: center;
}

.p-single-section button {
  padding: 30px 30px;
  background-color: #F2EDE9;
  width: 100%;
  height: auto;
  display: inline-block;
  border-radius: 20px;
  font-weight: bold;
  border: 1px solid;
}
@media (min-width: 751px) and (max-width: 1200px) {
  .p-single-section button {
    width: 60%;
  }
}
@media (min-width: 1201px) {
  .p-single-section button {
    width: 40%;
  }
}

b {
  display: block;
}

.p-page-img {
  height: 250px;
  width: auto;
  background: url("../image/page-title_shop@2x.jpg") no-repeat center center;
  position: relative;
  background-size: cover;
}
.p-page-img h1 {
  position: absolute;
  top: 45%;
  left: 0px;
  padding-left: 20px;
}
@media (min-width: 751px) and (max-width: 1200px) {
  .p-page-img {
    height: 500px;
  }
  .p-page-img h1 {
    padding-left: 50px;
  }
}
@media (min-width: 1201px) {
  .p-page-img {
    height: 500px;
  }
  .p-page-img h1 {
    padding-left: 100px;
  }
}
/*# sourceMappingURL=project.css.map */