@mixin breakpoint($point) {
  @if $point == pc {
    @media (min-width:1201px) {
      @content;
  }
}
}

.l-header{
  background-color:#fff7ef;
  padding-bottom:50px;
}

.header-logo{
  margin:0 auto;
  padding:35px 0;
  text-align: center;
}
#search-wrap{
  text-align: center;
  
  
  .use_icon {
    border: 1px solid black;
    display: inline-block;
    background: #fff url("../image/_i_icon_10823_icon_108231_256.png") no-repeat left center;
    background-size: 20px 20px;
    height: 30px;
    width:300px;
    border-radius: 5px;
  }
  .c-btn{
    padding:5px 50px;
    display: inline-block;
    background-color: #E7E2DD;
    border-radius: 5px;
    border: 1px solid;
  }
}

@include breakpoint(pc){
.l-header{
  display: flex;
justify-content: space-between;
}
.header-logo{
  padding:35px 0;
  margin-left: 20px;
}
#search-wrap{
  margin: 75px 20px ;
  
  
  
  .use_icon {
    height: 36px;
   
  }
  
  
}

}
