@media screen and (max-width: 750px) {


  .p-top-img{
    background: url("../image/mainvisual-sp@2x.jpg") no-repeat center center;
    background-size: cover;
    height:375px;
   
  
  h1{
    color:white;
    padding-top:170px;
    margin-left: 25px;
  }
}
  .p-imgs{
    display: block;
    margin: 50px 20px;
    height:auto;
  }
  
  .each-img-left,
  .each-img-right{
    height: 650px;
    margin-top: 50px;
    position:relative;

     h2 {
      color:#fff;
      font-size: 44px;
      margin:20px;
      padding-top: 20px;

      &:after{
        position: absolute;
        display: inline-block;
        top:100px;
        left:30px;
        content: "";
        width: 50px;
        height: 3px;
        background-color: #fff;
        border-radius: 2px;

    }
  }
}
 
    .container{
      position:absolute;
      bottom:0px;
      width:100%;
      padding-right:10px;
      padding-left:10px;

      .item-1,
      .item-2{
      height: auto;
      background-color: rgba(255,255,255, 0.8);
      padding: 20px 10px;
      margin-bottom: 10px;

}
}


.p-map{
  position: relative;
  
  .map{
    background: url("../image/map.png") no-repeat center center;
    background-size: cover;
    height: 700px;
    width:100%;
  }

  .full-mask{
    height:100%;
    width:100%;
    background-color:#707070;
    opacity:0.7;
    position: absolute;
    z-index:100;
  }
  
  .half-mask{
    height:350px;
    width:100%;
    background-color: #707070;
    opacity:0.7;
    position: absolute;
    z-index:100;
  }

  
.p-modal{
  top: 40px;
  left:0;
  color:#fff;
  position: absolute;
  z-index:101;
 
  h2
  {
    font-size:30px;
    padding-bottom: 20px;
    color:#fff;
    
  }

  p{
    font-size:14px;
    line-height: 40px;
    color:#fff;
    padding:20px;
  }
}

  }
}





@media screen and (min-width:751px) and (max-width:1200px){


   .p-top-img{
    background: url("../image/mainvisual-sp@2x.jpg") no-repeat center center;
    background-size: cover;
    height:375px;
   
  
  h1{
    color:white;
    padding-top:170px;
    margin-left:85px;
  }
}
  .p-imgs{
    display: flex;
    justify-content: space-between;
    margin:40px;
    height:auto;
  }
    
  
  .each-img-left{
    margin-right: 40px;
  }
  
  .each-img-left,
  .each-img-right{
    height: 650px;
    position:relative;
    width:100%;

     h2 {
      color:#fff;
      font-size: 44px;
      margin:20px;
      padding-top: 20px;

      &:after{
        position: absolute;
        display: inline-block;
        top:120px;
        left:30px;
        content: "";
        width: 50px;
        height: 3px;
        background-color: #fff;
        border-radius: 2px;

    }
  }
}
 
    .container{
      position:absolute;
      bottom:0px;
      width:100%;
      padding-right:10px;
      padding-left:10px;

      .item-1,
      .item-2{
      height: auto;
      background-color: rgba(255,255,255, 0.8);
      padding: 20px 10px;
      margin-bottom: 10px;

}
}


.p-map{
  position: relative;
  
  .map{
    background: url("../image/map.png") no-repeat center center;
    background-size: cover;
    height: 415px;
    width:100%;
  }

  .full-mask{
    height:100%;
    width:100%;
    background-color:#707070;
    opacity:0.7;
    position: absolute;
    z-index:100;
  }
  

  
.p-modal{
  top: 40px;
  left:0;
  color:#fff;
  position: absolute;
  z-index:101;
 
  h2
  {
    font-size:30px;
    padding-bottom: 20px;
    color:#fff;
    
  }

  p{
    font-size:16px;
    line-height: 40px;
    color:#fff;
    padding:20px;
  }
}

  }
  }


@media screen and (min-width: 1201px) {
    .p-top-img{
    background: url("../image/mainvisual-sp@2x.jpg") no-repeat center center;
    background-size: cover;
    height:375px;


  h1{
    color:white;
    padding-top:170px;
    margin-left:85px;
  }
}
  .p-imgs{
    display: flex;
    justify-content: space-between;
    margin:40px;
    height:auto;
  }

  .each-img-left{
    margin-right: 40px;
  }
  
  .each-img-left,
  .each-img-right{
    height: 650px;
    position:relative;
    width:100%;
    h2 {
      font-size: 44px;
      margin:20px;
      padding-top: 20px;
      color:#fff;

      &:after{
        position: absolute;
        display: inline-block;
        top:120px;
        left:30px;
        content: "";
        width: 50px;
        height: 3px;
        background-color: #fff;
        border-radius: 2px;

    }
  }
}
 
    .container{
      position:absolute;
      bottom:0px;
      width:100%;
      padding-right:10px;
      padding-left:10px;

      .item-1,
      .item-2{
      height: auto;
      background-color: rgba(255,255,255, 0.8);
      padding: 20px 10px;
      margin-bottom: 10px;

}
}


.p-map{
  position: relative;
  
  .map{
    background: url("../image/map.png") no-repeat center center;
    background-size: cover;
    height:650px;
    width:100%;
    
  }

  .full-mask{
    height:100%;
    width:100%;
    background-color:#707070;
    opacity:0.7;
    position: absolute;
    z-index:100;
  }
  
  .half-mask{
    height:100%;
    width:67%;
    background-color: #707070;
    opacity:0.5;
    position: absolute;
    z-index:100;
  }

  
.p-modal{
  top: 40px;
  left:0;
  color:#fff;
  position: absolute;
  z-index:101;
 
  h2
  {
    font-size:30px;
    padding-bottom: 20px;
    color:#fff;
    
  }

  p{
    font-size:14px;
    line-height: 40px;
    color:#fff;
    width:63%;
    padding:20px;
  }
}

  }
  }
