  @mixin breakpoint($point) {
  @if $point == sp{
    @media (max-width:750px) {
      @content;
    }
  }
  @else if $point == tablet{
    @media (min-width:751px) and (max-width:1200px) {
      @content;
  }
}
  @else if $point == pc{
    @media (min-width:1201px) {
      @content;
  }
}
}



.your-class{
  .p-top-img{
    
    background-size: cover;
    height:285px;
    width:100%;
    object-position: cover;
    object-fit: cover;
    @include breakpoint( pc ){
    width:100%;
    height: 530px;
    overflow: hidden;
  }
  h1{
    position: absolute;
    color: #333;
    padding-top:170px;
    margin-left: 85px;
    font-size: 36px;
    @include breakpoint( sp ){
    margin-left:35px;
  }
}
  }  
  
}
.slick-prev:before,
.slick-next:before{
  color:#333;
}

//   .p-top-img{
    
//     background-size: cover;
//     height:375px;
//     width:100%;
//     object-position: cover;
//     object-fit: cover;
//     @include breakpoint( pc ){
//     background-size:cover;
//     width:auto;
//     overflow: hidden;
//   }
   
  
//   h1{
//     color:white;
//     padding-top:170px;
//     margin-left: 85px;
//     font-size: 36px;
//     @include breakpoint( sp ){
//     margin-left:35px;
//   }
//   }  
// }

.archive-main{
  position: relative;
  @include breakpoint( tablet ){
    width:100%;
  }
  @include breakpoint( pc ){
    width:100%;
  }
}


.p-archive-img{
  height: 283px;
  width: auto;
  background: url("../image/p-archive-img@2x.jpg") no-repeat left center;
  position: relative;
  background-size: cover;
  object-fit: cover;
  @include breakpoint( pc ){
    height: 239px;
  }
  




.archive-img-mask{
content: "";
height: 283px;
width:auto;
position:absolute;
top: 0;
right:0;
bottom:0;
left:0;
background-color: rgba(0,0,0,.3);
@include breakpoint( pc ){
    height: 239px;
  }
}
.p-archive-img-text{
  position: absolute;
  z-index:1;
  color:#ccc;



h1{
  font-family: 'Roboto', sans-serif;
  font-size: 60px;
  @include breakpoint( sp ){
     font-size: 36px;
  }

  span{
    vertical-align: middle;
    padding-left: 20px;
    font-size: 16px;
    @include breakpoint( sp ){
       padding-left: 0;
       padding-top: 7px;
    }
  }
}
}
}

.single-main-top{
  position:relative;
  width:100%;
  height: 224px;
   @include breakpoint( tablet ){
  
    height: 500px;
  }

  @include breakpoint( pc ){
 
    height: 500px;
}
.p-single-img{
  height: 224px;
  width: 100%;
  background: url("../image/cheeseburger3@2x.png") no-repeat center center;
  position: absolute;
  background-size: cover;
  object-fit: cover;
  
  @include breakpoint( tablet ){
  
    height: 500px;
  }

  @include breakpoint( pc ){
 
    height: 500px;
}

}
  h1{
    position: absolute;
    top: 45%;
    left: 0;
    padding-left: 20px;
    z-index:1000;
    @include breakpoint( tablet ){
   
       
       padding-left: 50px;
     
   
   }
   @include breakpoint( pc ){
    
      
       padding-left: 100px;
     }
  }


}

.p-page-img{
  height: 224px;
  width: auto;
  background: url("../image/page-title_shop@2x.jpg") no-repeat center center;
  position: relative;
  background-size: cover;
  h1{
    position: absolute;
    top: 45%;
    left:0px;
    padding-left: 20px;
  }

  @media (min-width: 751px) and (max-width: 1200px) {
  
    height: 500px;
  
   h1 {
    padding-left: 50px;
  }

}
@media (min-width: 1201px) {
 
    height: 500px;
  
   h1 {
    padding-left: 100px;
  }
}
}

.error-page-h1
{

 padding:400px 0;
}

.error-page-p{

  padding:400px 0;
}

.split-burger{
  background: url("../image/404page.jpg") center center;
  height: 100%;
  width:100%;
  background-size: cover;
  object-fit: cover;
  @media (min-width: 1201px) {
  background: url("../image/404page-pc.jpg") center center;
   background-size: cover;
  }
  
  h1{
    color:#ccc;
    text-align: center;
    padding-top: 50px;
    padding-left: 50px;
  }
  p{
    color:#ccc;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 1400px;
  }
}
