@mixin breakpoint($point) {
  @if $point == sp{
    @media (max-width:750px) {
      @content;
    }
  }
  @else if $point == tablet{
    @media (min-width:751px) and (max-width:1200px) {
      @content;
  }
}
  @else if $point == pc{
    @media (min-width:1201px) {
      @content;
  }
}
}


.each-img-left{
    background: url("../image/three-burgers-on-brown-wooden-tray-between-white-ceramic-1841108@2x.png") no-repeat center center;
    
    }
  
  .each-img-right{
    background: url("../image/473d814b175bd517b56eb309f2958725@2x.png") no-repeat center center;
  }

.archive-main{
  position: relative;
  @include breakpoint( tablet ){
    width:100%;
  }
  @include breakpoint( pc ){
    width:100%;
  }
}


.p-archive-img{
  height: 280px;
  width: auto;
  background: url("../image/p-archive-img@2x.jpg") no-repeat left center;
  position: relative;
  background-size: cover;
  object-fit: cover;
  object-position: 0 50%;

}



.archive-img-mask{
content: "";
height: 280px;
width:auto;
position:absolute;
top: 0;
right:0;
bottom:0;
left:0;
background-color: rgba(0,0,0,.3);

}
.archive-section-text{
  width:100%;
  @include breakpoint( tablet ){
  width:750px;

}
  @include breakpoint( pc ){
  width:750px;

}
}


.p-archive-item-1,
.p-archive-item-2,
.p-archive-item-3,
.p-archive-item-4,
.p-archive-item-5
{
  height: 585px;
  width:100%;
  

  
  @include breakpoint( tablet ){
  height: 350px;
  width:100%;
  display: flex;


}
  @include breakpoint( pc ){
  height: 350px;
  width:100%;
  display: flex;


}
}

.img-item-1,
.img-item-2,
.img-item-3,
.img-item-4,
.img-item-5
{
  vertical-align: bottom;
  width:100%;
  height: 40%;
  object-fit:cover;
  @include breakpoint( tablet ){
    object-position: 0 50%;
    height:100%;
    width:50%;

}
  @include breakpoint( pc ){
    object-position: 0 50%;
    height:100%;
    width:50%;

}

}


.archive-container{
  background-color: #3C2B1C;
  color:#fff;
  height:60%;
  width:100%;
  padding-bottom: 60px;
  position: relative;
  @include breakpoint( tablet ){

  height:100%;
  width:50%;

}
  @include breakpoint( pc ){

  height:100%;
  width:50%;

}
  h3{
    color: #fff;
  }

        p{
          color: #fff;

}

button{
  display: inline-block;
  background-color:#fff;
  color:#707070;
  border-radius:20px;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  bottom: 30px;
}
}


.archive-pagination-pc{
  width:335px;
  ul{
    display: flex;
    justify-content: space-between;
  }
  
  li{
    list-style: none;
  }
}
.archive-pagination{
  display: none;
}

@include breakpoint( tablet ){
.archive-pagination{
  width:700px;
  height: 200px;
  margin:0 auto;
  display: block;
  padding-top: 120px;

  ul{
    display: flex;
    justify-content: space-between;
  }
  
    li{
      list-style: none;
      padding:6px 12px;
    }
     li:nth-child(3){
       background-color: #333;
       color:#fff;
     }
    li:nth-child(n+3):nth-child(-n+11){
      border: 1px solid #333;
      margin-left: 8px;
      
    }
  }
.archive-pagination-pc{
  display: none;
}

   }
@include breakpoint( pc ){
.archive-pagination{
  width:700px;
  height: 200px;
  margin:0 auto;
  display: block;
  padding-top: 120px;

  ul{
    display: flex;
    justify-content: space-between;
  }
  
    li{
      list-style: none;
      padding:6px 12px;
    }
     li:nth-child(3){
       background-color: #333;
       color:#fff;
     }
    li:nth-child(n+3):nth-child(-n+11){
      border: 1px solid #333;
      margin-left: 8px;
      
    }
  }
.archive-pagination-pc{
  display: none;
}

   }

  .p-single-img{
  height: 250px;
  width: auto;
  background: url("../image/cheeseburger3@2x.png") no-repeat center center;
  position: relative;
  background-size: cover;
  h1{
    position: absolute;
    top: 45%;
    left: 0;
    padding-left: 20px;
  }
 @include breakpoint( tablet ){
  
    height: 500px;
  
   h1 {
    padding-left: 50px;
  }

}
@include breakpoint( pc ){
 
    height: 500px;
  
   h1 {
    padding-left: 100px;
  }
}
}

blockquote{
  background-color: #F5F5F5;
  height: 600px;
  position: relative;

 & p:nth-of-type(2){
   position: absolute;
   bottom: 20px;
   left:20px;

   & a{
     margin-left:10px;
     border-bottom: solid .1px;
     letter-spacing: 0.2em;
   }
 }
}

.p-singlemain1-img{
  height:150px;
  width:100%;
  background: url("../image/single-main.png")
  no-repeat bottom center;
  background-size: cover;
  object-fit: cover;
  object-position: center;

   @include breakpoint( tablet ){
    height:265px;
  }
  @include breakpoint( pc ){
    height:500px;
  }

}



.single-container-box{
  

.single-container
{
 
  display:flex;
  

}

  .single-container:last-child{
  
    display:flex;
    flex-direction:row-reverse;
  }

 .single-container .p-singlemain2-img{
  height:150px;
  width:100%;
  background: url("../image/single-flex@2x.png")
  no-repeat  bottom center ;
  background-size: cover;
  object-fit: contain;
  object-position: bottom;
  @include breakpoint( tablet ){
    
    height:190px;
  }
   @include breakpoint( pc ){
    height:300px;
  }
}

 .single-container:last-child .p-singlemain2-img{
  height:150px;
  width:100%;
  background: url("../image/single-flex@2x.png")
  no-repeat  bottom center ;
  background-size: cover;
  object-fit: contain;
  object-position: bottom;
  @include breakpoint( tablet ){
    
    height:190px;
  }
   @include breakpoint( pc ){
    height:300px;
  }
}
p{
  width:100%;
}
}

.p-singlemain3-img{
  height:165px;
  width:265px;
  background: url("../image/single-middle@2x.png")
  no-repeat bottom center;
  background-size: cover;
  object-fit: cover;
  margin: 0 auto 30px;
   @include breakpoint( tablet ){
     width:580px;
    height:360px;
  }
  @include breakpoint( pc ){
     width:580px;
    height:360px;
  }
}

.p-singlemaincover-img{
  height:250px;
  width:100%;
  background: url("../image/single-large@2x.png")
  no-repeat bottom center;
  background-size: cover;
  object-fit: cover;
  object-position: left;
  margin-bottom: 20px;
  
}

@include breakpoint( tablet ){
     .cover-imgs{
       display: flex;
       flex-wrap: wrap;
       width:100%;
       .p-singlemaincover-img{
      width:calc((100% - 32px) / 2);
      height:205px;
       }
       .p-singlemaincover-img:nth-child(odd){
        margin-right:16px;
       }
     }
    }
    @include breakpoint( pc ){
     .cover-imgs{
       display: flex;
       flex-wrap: wrap;
       width:100%;
       .p-singlemaincover-img{
       width: calc((100% - 60px) / 3);
      height:200px;
      margin-right:20px;
       }
     
     }
    }


pre{
  background-color: #f5f5f5;
}

table{
  border-collapse: collapse;
  width:100%;

  .width40{
    width:45%;
  }
  
  .width60{
    width:55%
  }

td{
  border: #333 1px solid;
  text-align: center;
  
}
}

.p-single-section
button{
  padding: 30px 30px;
  background-color: #F2EDE9;
  width:100%;
  height: auto;
  display: inline-block;
  border-radius: 20px;
  font-weight: bold;
  border: 1px solid;
    @include breakpoint( tablet ){
    width:60%;
  }
    @include breakpoint( pc ){
    width:40%;
  }
}

b{
   display: block;
}

.p-page-img{
  height: 250px;
  width: auto;
  background: url("../image/page-title_shop@2x.jpg") no-repeat center center;
  position: relative;
  background-size: cover;
  h1{
    position: absolute;
    top: 45%;
    left:0px;
    padding-left: 20px;
  }

  @media (min-width: 751px) and (max-width: 1200px) {
  
    height: 500px;
  
   h1 {
    padding-left: 50px;
  }

}
@media (min-width: 1201px) {
 
    height: 500px;
  
   h1 {
    padding-left: 100px;
  }
}
}












