@mixin breakpoint($point) {
  @if $point == sp{
    @media (max-width:750px) {
      @content;
    }
  }
  @else if $point == tablet{
    @media (min-width:751px) and (max-width:1200px) {
      @content;
  }
}
  @else if $point == pc{
    @media (min-width:1201px) {
      @content;
  }
}
}

.p-imgs{
    height:auto;
    @include breakpoint( tablet ){
    display: flex;
    justify-content: center;
  }
    @include breakpoint( pc ){
    display: flex;
    justify-content: center;
  }
  }
  
  .each-img-left{
    background: url("../image/three-burgers.png") no-repeat center center;
     background-size: cover;
     position:relative;
     margin: 20px auto;
     height: 650px;
     width:335px;
     @include breakpoint( tablet ){
        width:357px;
        height: 680px;
        margin: 40px 40px 40px 40px;
         background-size: cover;
      }
      @include breakpoint( pc ){
        width:625px;
        height:1190px;
        margin: 120px 80px 120px 110px;
         background-size: cover;
         overflow: hidden;
    }
  }
  
  
  .each-img-right{
    background: url("../image/473d814b175bd517b56eb309f2958725@2x.png") no-repeat center center;
    background-size: cover;
    position:relative;
    margin: 20px auto;
    height: 650px;
    width:335px;
    cursor: pointer;
    a{
      text-decoration: none;
      color:#333;
      display: inline-block;
      width:100%;
      height:100%;
  
    }
    @include breakpoint( tablet ){
        width:357px;
        height: 680px;
        background-size: cover;
         margin: 40px 40px 40px 0;
      }
      @include breakpoint( pc ){
        background-size: cover;
          width:625px;
          height:1190px;
          margin: 120px 110px 120px 0;
          overflow: hidden;
        }
  
      }

  .each-img-left,
  .each-img-right{
  //   &:hover{
  //   background-color: #fff;
  //   opacity: .5;
  // }
  
      
    h2 {
      color:#fff;
      font-size: 44px;
      margin-top:10px;
      margin-bottom:20px;
      margin-left:10px;
       @include breakpoint( pc ){
        margin-bottom:0;
       }
      &:after{
        position: absolute;
        display: inline-block;
        top:75px;
        left:15px;
        content: "";
        width: 50px;
        height: 3px;
        background-color: #fff;
        border-radius: 2px;
        @include breakpoint( tablet ){
          top:90px;
        }
        
        @include breakpoint( pc ){
          top:100px;
        }
        
      }
    }
  }
    
    
    .container{
      
      width:100%;
      padding-right:10px;
      padding-left:10px;

      .item-1,
      .item-2{
      height: 175px;
      background-color: rgba(255,255,255, 0.8);
      padding: 20px 10px;
      margin-bottom:10px;
       h3 {
         padding-bottom:20px;
         @include breakpoint( pc ){
           padding-bottom:26px;
         }
       }
       
        }
      


}
    .container .item-1{
      margin-top:210px;
      @include breakpoint( tablet ){
         margin-top:230px;
}
      @include breakpoint( pc ){
        margin-top:0;
        position:absolute;
        top:800px;
        left:20px;
        right: 20px;
      }
    }
      .container .item-2{
      @include breakpoint( pc ){
        margin-top:0;
        position:absolute;
        top:1000px;
        left:20px;
        right: 20px;
      }

    }
    


.archive-section-text{
  width:100%;
  margin-bottom: 20px;
  @include breakpoint( tablet ){
  width:750px;
  margin-bottom: 37px;

}
  @include breakpoint( pc ){
  width:750px;
  margin-bottom: 70px;
  
}
}

.archive-nokeyword{
  @include breakpoint( pc ){
    h2 {
      text-align:center;
      margin-top: 200px;
      margin-bottom: 500px;
    }
  }
}


.p-archive-item-1,
.p-archive-item-2,
.p-archive-item-3,
.p-archive-item-4,
.p-archive-item-5
{
  height: 585px;
  width:100%;
  

  
  @include breakpoint( tablet ){
  height: 350px;
  width:100%;
  display: flex;


}
  @include breakpoint( pc ){
  height: 470px;
  width:100%;
  display: flex;


}
}

// .archive-loop-img{
//    vertical-align: bottom;
//   width:100%;
//   height: 40%;
//   object-fit:cover;
//   @include breakpoint( tablet ){
//     object-position: 0 50%;
//     height:100%;
//     width:50%;

// }
//   @include breakpoint( pc ){
//     object-position: 0 50%;
//     height:100%;
//     width:50%;

// }
// }

.img-item-1,
.img-item-2,
.img-item-3,
.img-item-4,
.img-item-5
{

  vertical-align: bottom;
  width:100%;
  height: 40%;
  object-fit:cover;
  object-position: 50% 50%;
  @include breakpoint( tablet ){
    height:100%;
    width:50%;

}
  @include breakpoint( pc ){
    height:100%;
    width:50%;

}

}

.p-map{
  position: relative;
  
  .map{
    background: url("../image/map.png") no-repeat center center;
    background-size: cover;
    height: 700px;
    width:100%;
     @include breakpoint( tablet ){
        height:415px;
          }

     @include breakpoint( pc ){
        height:650px;
          }
  }
}


  .full-mask{
    height:100%;
    width:100%;
    background-color:#707070;
    opacity:0.7;
    position: absolute;
    z-index:100;
 @include breakpoint( pc ){
        width:63%;
          }
  }
  
  .half-mask{
    height:350px;
    width:100%;
    background-color: #707070;
    opacity:0.7;
    position: absolute;
    z-index:100;
     @include breakpoint( tablet ){
        height:100%;
          }
     @include breakpoint( pc ){
        height:100%;
        
          }
  }

  
.p-modal{
  top: 40px;
  left:42px;
  right:40px;
  color:#fff;
  position: absolute;
  z-index:101;
   @include breakpoint( pc ){
        top:80px;
        left:119px;
        right:500px;
        height:570px;

          }
 
  h2
  {
    font-size:30px;
    color:#fff;
    padding-bottom: 40px;
    @include breakpoint( pc ){
      padding-bottom: 120px;
        font-size: 36px;
          }
    

     &:after{
        position: absolute;
        display: inline-block;
        top:60px;
        left:0;
        content: "";
        width: 70px;
        height: 3px;
        background-color: #fff;
        border-radius: 2px;
        @include breakpoint( pc ){
          top:110px;
          }
       
       
      }
    
  }
    .text-container{
      @include breakpoint( pc ){
        overflow: hidden;
        width:697px;
        
      }
        p{
          font-size:14px;
          line-height: 30px;
          color:#fff;
          text-align: justify;
          @include breakpoint( pc ){
            font-size:16px;

            }
      }
    }

}



.archive-container{
  background-color: #3C2B1C;
  color:#fff;
  height:60%;
  width:100%;
  padding-bottom: 60px;
  position: relative;
  padding-top: 20px;
  @include breakpoint( tablet ){

  height:100%;
  width:50%;

}
  @include breakpoint( pc ){
  padding-top: 53px;
  height:100%;
  width:50%;

}
.content{
  margin-top:24px;
  @include breakpoint( pc ){
  margin-top: 47px;
}
}
  h3{
    color: #fff;
  }

        p{
          color: #fff;
}

button{
  display: inline-block;
  background-color:#fff;
  color:#707070;
  border-radius:20px;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  bottom: 43px;
  @include breakpoint( tablet ){

  bottom: 40px;

}
  @include breakpoint( pc ){
  bottom: 60px;
 

}
}
}

blockquote{
  background-color: #F5F5F5;
  height: 600px;
  position: relative;

 & p:nth-of-type(2){
   position: absolute;
   bottom: 20px;
   left:20px;

   & a{
     margin-left:10px;
     border-bottom: solid .1px;
     letter-spacing: 0.2em;
   }
 }
}

.single-container-box{
  

.single-container
{
 
  display:flex;
  

}

  .single-container:last-child{
  
    display:flex;
    flex-direction:row-reverse;
  }

 .single-container .p-singlemain2-img{
  height:150px;
  width:100%;
  background: url("../image/single-flex@2x.png")
  no-repeat  bottom center ;
  background-size: cover;
  object-fit: contain;
  object-position: bottom;
  @include breakpoint( tablet ){
    
    height:190px;
  }
   @include breakpoint( pc ){
    height:300px;
  }
}

 .single-container:last-child .p-singlemain2-img{
  height:150px;
  width:100%;
  background: url("../image/single-flex@2x.png")
  no-repeat  bottom center ;
  background-size: cover;
  object-fit: contain;
  object-position: bottom;
  @include breakpoint( tablet ){
    
    height:190px;
  }
   @include breakpoint( pc ){
    height:300px;
  }
}
p{
  width:100%;
}
}


pre{
  background-color: #f5f5f5;
}

table{
  border-collapse: collapse;
  width:100%;

  .width40{
    width:45%;
  }
  
  .width60{
    width:55%
  }

td{
  border: #333 1px solid;
  text-align: center;
  
}
}



b{
   display: block;
}


