@mixin breakpoint($point) {
  @if $point == tablet{
    @media (min-width: 1201px){
      @content;
    }
  }
}

h1{
  position: absolute;
  z-index:1;
  color:#ccc;
  line-height: 1.2;
  font-size: 36px;
  
  span{

    font-size: 16px;
  }
}


h3{
  font-size:24px;
  color:#333;

}

p{
  font-size:16px;
  color:#333;

}

.openbtn{
  width:100px;
  height:50px;
  margin-left: auto;
  padding-top:30px;
  padding-right: 50px;
  text-align: right;
  position: relative;
    @include breakpoint( tablet ){
      display: none;


}

span:nth-of-type(1){
  color:#707070;
  transition: all .4s;
  cursor:pointer;
  display: inline-block;
  font-size: 26px;
  @include breakpoint( tablet ){
    display: none;
    
  
}
}

span:nth-of-type(2){
  display: none;
  padding-top: 5px;
  padding-left: 25px;
  width:30px;
  height:30px;
  background: url("../image/close.png")no-repeat center center;
  background-size: cover;
  position: absolute;
  z-index: 1004;
  top:35px;
  left:25px;
  cursor: pointer;


}

}

.openbtn.active span:nth-of-type(1){
  display: none;
}


.openbtn.active span:nth-of-type(2){
   display:inline-block;
   
}


 .openbtn.active .l-main-area{
 
  pointer-events: none;
 }

