
.l-footer{
    color:#fff;
    background-color: #967f6a;
    text-align: center;
    height: 100px;
    h4{
        padding-top: 20px;
       
    }
        p{
            padding-top:20px;
            padding-bottom: 10px;
            font-size:14px;

            
        }

    
}






