@media screen and (max-width: 750px) {
  .p-top-img {
    background: url("../image/mainvisual-sp@2x.jpg") no-repeat center center;
    background-size: cover;
    height: 375px;
  }
  .p-top-img h1 {
    color: white;
    padding-top: 170px;
  }

  .p-imgs {
    display: block;
    margin: 50px 20px;
    height: auto;
  }

  .each-img-left,
.each-img-right {
    height: 650px;
    margin-top: 50px;
    position: relative;
  }

  .container {
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
  }
  .container .item-1,
.container .item-2 {
    height: auto;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px 10px;
    margin-bottom: 10px;
  }

  .p-map {
    position: relative;
  }
  .p-map .map {
    background: url("../image/map.png") no-repeat center center;
    background-size: cover;
    height: 700px;
    width: 100%;
  }
  .p-map .full-mask {
    height: 700px;
    width: 100%;
    background-color: #707070;
    opacity: 0.7;
    position: absolute;
    z-index: 100;
  }
  .p-map .half-mask {
    height: 350px;
    width: 100%;
    background-color: #707070;
    opacity: 0.7;
    position: absolute;
    z-index: 100;
  }
  .p-map .p-modal {
    top: 40px;
    left: 0;
    color: #fff;
    position: absolute;
    z-index: 101;
  }
  .p-map .p-modal h2 {
    font-size: 30px;
    padding-bottom: 20px;
    color: #fff;
  }
  .p-map .p-modal p {
    font-size: 14px;
    line-height: 40px;
    color: #fff;
    padding: 0 30px;
  }
}
@media screen and (min-width: 751px) and (max-width: 1200px) {
  .p-top-img {
    background: url("../image/mainvisual-sp@2x.jpg") no-repeat center center;
    background-size: cover;
    height: 375px;
  }
  .p-top-img h1 {
    color: white;
    padding-top: 170px;
  }

  .p-imgs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 40px;
    height: auto;
  }

  .each-img-left {
    margin-right: 40px;
  }

  .each-img-left,
.each-img-right {
    height: 650px;
    position: relative;
    width: 100%;
  }

  .container {
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
  }
  .container .item-1,
.container .item-2 {
    height: auto;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px 10px;
    margin-bottom: 10px;
  }

  .p-map {
    position: relative;
  }
  .p-map .map {
    background: url("../image/map.png") no-repeat center center;
    background-size: cover;
    height: 700px;
    width: 100%;
  }
  .p-map .full-mask {
    height: 700px;
    width: 100%;
    background-color: #707070;
    opacity: 0.8;
    position: absolute;
    z-index: 100;
  }
  .p-map .p-modal {
    top: 40px;
    left: 0;
    color: #fff;
    position: absolute;
    z-index: 101;
  }
  .p-map .p-modal h2 {
    font-size: 30px;
    padding-bottom: 20px;
    color: #fff;
  }
  .p-map .p-modal p {
    font-size: 14px;
    line-height: 40px;
    color: #fff;
    padding: 0 30px;
  }
}
@media screen and (min-width: 1201px) {
  .p-top-img {
    background: url("../image/mainvisual-sp@2x.jpg") no-repeat center center;
    background-size: cover;
    height: 375px;
  }
  .p-top-img h1 {
    color: white;
    padding-top: 170px;
  }

  .p-imgs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 40px;
    height: auto;
  }

  .each-img-left {
    margin-right: 40px;
  }

  .each-img-left,
  .each-img-right {
    height: 650px;
    position: relative;
    width: 100%;
  }

  .container {
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
  }
  .container .item-1,
  .container .item-2 {
    height: auto;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px 10px;
    margin-bottom: 10px;
  }

  .p-map {
    position: relative;
  }
  .p-map .map {
    background: url("../image/map.png") no-repeat center center;
    background-size: cover;
    height: 700px;
    width: 100%;
  }
  .p-map .full-mask {
    height: 700px;
    width: 100%;
    background-color: #707070;
    opacity: 0.8;
    position: absolute;
    z-index: 100;
  }
  .p-map .p-modal {
    top: 40px;
    left: 0;
    color: #fff;
    position: absolute;
    z-index: 101;
  }
  .p-map .p-modal h2 {
    font-size: 30px;
    padding-bottom: 20px;
    color: #fff;
  }
  .p-map .p-modal p {
    font-size: 14px;
    line-height: 40px;
    color: #fff;
    padding: 0 30px;
  }
}
/*# sourceMappingURL=main.css.map */